name: deploy

env:
    BUSYTEX_FILES: busytex_pipeline.js busytex_worker.js
    BUSYTEX_ASSETS_CORE: busytex.wasm busytex.js texlive-basic.js texlive-basic.data
    BUSYTEX_ASSETS_UBUNTU: ubuntu-texlive-latex-base.data ubuntu-texlive-latex-base.js ubuntu-texlive-latex-extra.data ubuntu-texlive-latex-extra.js ubuntu-texlive-latex-recommended.data ubuntu-texlive-latex-recommended.js
    BUSYIDE_ASSETS: busy.js 
    BUSYIDE_FILES: shell.js guthub.js sha1.js index.html readme.tex monarch_lang.json monarch_latex.json monarch_bibtex.json logo.png logo.svg

on: 
  workflow_dispatch:
    inputs:
      busytexref:
        description: 'busytex git ref'
        required: true
        default: main

      busyideref:
        description: 'busyide git ref'
        required: true
        default: main

      busytexreleaseurl:
        description: 'busytex release url for core assets'
        required: true
        default: 'https://github.com/busytex/busytex/releases/latest'
      
      busytexubuntureleaseurl:
        description: 'busytex release url for ubuntu assets'
        required: true
        default: 'https://github.com/busytex/busytex/releases/tag/release_88f12c721278c652c9fb69c6a097af9481a2ae7e'
      
      busyidereleaseurl:
        description: 'busyide release url'
        required: true
        default: 'https://github.com/busytex/busyide/releases/latest'

jobs:

  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
      
      - name: Download Release Assets from https://github.com/busytex/busytex
        run: |
          mkdir -p dist busytex
          wget -P dist -nc $(printf "${{ github.event.inputs.busytexreleaseurl }}/download/%s " $BUSYTEX_ASSETS_CORE)
          wget -P dist -nc $(printf "${{ github.event.inputs.busytexubuntureleaseurl }}/download/%s " $BUSYTEX_ASSETS_UBUNTU)
          
          #wget -O busytex.tar.gz $(echo "${{ github.event.inputs.busytexreleaseurl }}" | sed 's/github.com/api.github.com\/repos/' | xargs curl -s | grep "tarball_url" | cut -d'"' -f4)
          wget -O busytex.tar.gz https://github.com/busytex/busytex/archive/${{ github.event.inputs.busytexref }}.tar.gz
          tar -xf busytex.tar.gz --strip-components=1 --directory=busytex
          cp $(printf "busytex/%s " $BUSYTEX_FILES) dist
          rm -rf busytex busytex.tar.gz
      
      - name: Download Release Assets and Files from https://github.com/busyide/busyide
        run: |
          mkdir -p dist busyide
          wget -P dist -nc $(printf "${{ github.event.inputs.busyidereleaseurl }}/download/%s " $BUSYIDE_ASSETS)
          
          #wget -O busyide.tar.gz $(echo "${{ github.event.inputs.busyidereleaseurl }}" | sed 's/github.com/api.github.com\/repos/' | xargs curl -s | grep "tarball_url" | cut -d'"' -f4)
          wget -O busyide.tar.gz https://github.com/busytex/busyide/archive/${{ github.event.inputs.busyideref }}.tar.gz
          tar -xf busyide.tar.gz --strip-components=1 --directory=busyide
          cp $(printf "busyide/%s " $BUSYIDE_FILES) .
          rm -rf busyide busyide.tar.gz

      - name: Add, Commit, Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A . dist
          git commit -a -m ...
          git push

