name: deploy

env:
    BUSYTEX_RELEASES_URL: https://github.com/busytex/busytex/releases
    BUSYTEX_FILES: busytex_pipeline.js busytex_worker.js
    BUSYTEX_ASSETS_CORE: busytex.wasm busytex.js texlive-basic.js texlive-basic.data
    BUSYTEX_ASSETS_UBUNTU: ubuntu-texlive-latex-base.data ubuntu-texlive-latex-base.js ubuntu-texlive-latex-extra.data ubuntu-texlive-latex-extra.js ubuntu-texlive-latex-recommended.data ubuntu-texlive-latex-recommended.js ubuntu-texlive-science.js ubuntu-texlive-science.data
    BUSYIDE_RELEASES_URL: https://github.com/busytex/busyide/releases
    BUSYIDE_ASSETS: busybox_unstripped.js busybox_unstripped.wasm
    BUSYIDE_FILES: busybox.js ui.js github.js sha1.js index.html README.tex monarch_lang.json monarch_latex.json monarch_bibtex.json logo.png logo.svg
on: 
  workflow_dispatch:
    inputs:
      busytexref:
        description: 'busytex git ref'
        required: true
        default: main

      busyideref:
        description: 'busyide git ref'
        required: true
        default: main

      busytexreleasetag:
        description: 'busytex release tag for core assets (latest is default)'
        required: true
        default: 'build_b16fdf28019d93ccfd8f09776e4191835acea5dc'
      
      busytexubuntureleasetag:
        description: 'busytex release tag for ubuntu assets'
        required: true
        default: 'ubuntupackages_d9a4f4cf16a71735422376112d440b8665344f5a'
      
      busyidereleasetag:
        description: 'busyide release tag (latest is default)'
        required: false

jobs:

  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
      
      - name: Download Release Assets from https://github.com/busytex/busytex
        run: |
          rm -rf *
          mkdir -p dist

          if [ ! "${{ github.event.inputs.busytexreleasetag }}" ]; then RELEASEURL="$BUSYTEX_RELEASES_URL/latest/download"; else RELEASEURL="$BUSYTEX_RELEASES_URL/download/${{ github.event.inputs.busytexreleasetag }}"; fi
          wget -P dist $(printf "$RELEASEURL/%s " $BUSYTEX_ASSETS_CORE)
          if [ ! "${{ github.event.inputs.busytexubuntureleasetag }}" ]; then RELEASEURL="$BUSYTEX_RELEASES_URL/latest/download"; else RELEASEURL="$BUSYTEX_RELEASES_URL/download/${{ github.event.inputs.busytexubuntureleasetag }}"; fi
          wget -P dist $(printf "$RELEASEURL/%s " $BUSYTEX_ASSETS_UBUNTU)
          
          git clone https://github.com/busytex/busytex --branch ${{ github.event.inputs.busytexref }} --single-branch --depth 1 busytex
          cp $(printf "busytex/%s " $BUSYTEX_FILES) dist
          rm -rf busytex
      
      - name: Download Release Assets and Files from https://github.com/busyide/busyide
        run: |
          if [ ! "${{ github.event.inputs.busyidereleasetag }}" ]; then RELEASEURL="$BUSYIDE_RELEASES_URL/latest/download"; else RELEASEURL="$BUSYTEX_RELEASES_URL/download/${{ github.event.inputs.busyidereleasetag }}"; fi
          wget -P dist $(printf "$RELEASEURL/%s " $BUSYIDE_ASSETS)
          
          git clone https://github.com/busytex/busyide --branch ${{ github.event.inputs.busyideref }} --single-branch --depth 1 busyide
          cp $(printf "busyide/%s " $BUSYIDE_FILES) .
          rm -rf busyide 

      - name: Add, Commit, Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A . dist
          git commit -a -m ... || true
          git push || true
